matplotlib>=1.5.1
networkx>=1.11
numpy>=1.11.2
pandas>=0.18.0
Pillow>=3.4.2
scikit-image>=0.12.3
scikit-learn>=0.18
scipy>=0.18.1
tabulate>=0.7.5
tensorflow>=0.12.1
tflearn>=0.2.1
tqdm>=4.5.0
h5py>=2.6.0
GPy>=1.5.6
climin>=0.1a1
xmltodict>=0.10.2
