[ml]
;dataset_path = 
;checkpoints_path = 

[numerai]
;predictions_file_path = /home/.../predictions.csv
;numerai_test = /home/.../numerai_tournament_data.csv
;numerai_example = /home/.../example_predictions.csv
;numerai_train = /home/.../numerai_training_data.csv

[tickets]
;tickets = 
;xml = /home/.../xml
;numbers = /home/.../numbers
;tickets_processed = 
;train_folder_path = /home/.../numbers

[numbers]
image_size = 90
;train_folder_path = 

[transcriptor]
detector_name = detector
;numbers_detector = 

