[paths]
data_path = {home}/dama_ml/dataset/
models_path = {home}/dama_ml/models/
code_path = {home}/dama_ml/code/
class_path = {home}
metadata_path = {home}/dama_ml/metadata/

[vars]
data_tag = data
model_tag = model

[log]
;Info level
loglevel = 10

