[paths]
data_path = {home}/softstream/dataset/
models_path = {home}/softstream/models/
code_path = {home}/softstream/code/
class_path = {home}
metadata_path = {home}/softstream/metadata/

[vars]
data_tag = data
model_tag = model

[log]
;Info level
loglevel = 10

